# 1.Gradle构建产物
/build
*/build
app/build
.gradle/
gradle-app.setting

# 2.IDE个人配置
.idea/
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/modules.xml
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/misc.xml

# 3.本地环境配置
local.properties
*.keystore
*.jks